
.home-container {
  text-align: center;
  padding: 40px;
  color: green;
  height: 60vh;
  background-image: url('/assets/images/beauty-showcase.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.home-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}


.white-section {
  height: 40vh;
  background-color: white;
}
